apiVersion: v1
kind: Service
metadata:
  name: redis-replica
  namespace: redis
spec:
  type: ClusterIP
  ports:
    - port: 6379
      targetPort: 6379
      name: redis
  selector:
    app: redis
    role: replica
---
# Headless Service
apiVersion: v1
kind: Service
metadata:
  name: redis-replica-headless
  namespace: redis
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - port: 6379
      targetPort: 6379
      name: redis
  selector:
    app: redis
    role: replica
