apiVersion: v1
kind: Service
metadata:
  name: redis-master
  namespace: redis
spec:
  type: ClusterIP
  ports:
    - port: 6379
      targetPort: 6379
      name: redis
  selector:
    app: redis
    role: master
---
# Headless Service（用于 StatefulSet）
apiVersion: v1
kind: Service
metadata:
  name: redis-master-headless
  namespace: redis
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - port: 6379
      targetPort: 6379
      name: redis
  selector:
    app: redis
    role: master
