apiVersion: v1
kind: Service
metadata:
  name: redis-sentinel
  namespace: redis
spec:
  type: ClusterIP
  ports:
    - port: 26379
      targetPort: 26379
      name: sentinel
  selector:
    app: redis
    role: sentinel
---
# Headless Service
apiVersion: v1
kind: Service
metadata:
  name: redis-sentinel-headless
  namespace: redis
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - port: 26379
      targetPort: 26379
      name: sentinel
  selector:
    app: redis
    role: sentinel
